main {
  width: 800px;
}

.tooltip {
  background: #fff;
  border: 0px;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.24);
  font: 16px sans-serif;
  padding: 12px;
  pointer-events: none;
  position: absolute;
}

.info-window__section {
  margin: 7px auto;
}

.info-window__category {
  color: #636d72;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  text-transform: uppercase;
}

.y-axis{
  height: 50px;
}


.legend {
  border-radius: 4px;
  width: 350px;
  width: min-content;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.24);
  padding: 15px;
  height: min-content;
  margin-bottom: 25px;
}

.legend-data {
  fill: #2e3c43;
  font-size: 14px;
}

.legend-title{
  fill: #2e3c43;
  font-size: 18px;
  font-weight: 500;
  width: auto;
}

.legend-subtitle{
  fill: #72757E;
  font-size: 14px;
  text-transform: uppercase;
}